@using DTShopping.Properties
@model DTShopping.Models.Dashboard
@using DTShopping.Models
@{
    string Theme = System.Configuration.ConfigurationManager.AppSettings["Theme"] == null ? string.Empty : System.Configuration.ConfigurationManager.AppSettings["Theme"].ToString();
    if (Theme == Resources.Orange)
    {
        Layout = "~/Views/Shared/_LayoutOrange.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    company current_cmpny = (Session["Company"] != null) ? Session["Company"] as company : new company();
    string imageUrl = System.Configuration.ConfigurationManager.AppSettings["ImageUrl"];
    int CompanyId = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CompanyId"]);
    int URSHOPECOMPANYID = 33;
    string iName = string.Empty;
}

<div  class="container">
    <table width="100%" border="1" cellspacing="3" cellpadding="3" class="shoptable" style="margin-top:10px;">
        <tr>
            @if (CompanyId == URSHOPECOMPANYID)
            {
                <td width="20%"><img src="~/images/thanks.png" height="140" width="90" alt="Thank You" style="margin-left: 30%;"></td>
            }
            else
            {
                <td width="20%"><img src="~/images/thanku.jpg" alt="Thank You" height="120" width="120" style="margin-left: 20%;"></td>
            }
            <td width="60%" style="padding-left: 5%;" valign="middle">
                @ViewBag.Message;
            </td>
            <td width="20%" style="padding-left: 5%;" valign="middle">
                <h3>Need More Support</h3>
                <label>Call us:- &nbsp; (91) @current_cmpny.company_landline_no</label>
                <label>Email us:- &nbsp; @current_cmpny.contact_email</label>
            </td>
        </tr>
    </table>
</div>
<script>
    $(document).ready(function () {
        $(".preloader").hide();
    });
</script>

